<dialog id="exercises_modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box relative">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        <i class="fa-solid fa-xmark text-xl"></i>
      </button>
    </form>

    <h3 class="font-bold text-lg mb-4">
      <%= t("training_sessions.training_session_exercises.new.title") %>
    </h3>

    <%= form_with(url: training_session_forms_exercises_path, method: :get) do |f| %>
      <label class="input input-bordered flex items-center gap-2 grow w-full">
        <i class="fas fa-search"></i>
        <%= f.text_field :q,
            placeholder: t("admin.exercises.search.placeholder"),
            class: "bg-transparent outline-none w-full" %>
      </label>

      <label class="input input-bordered flex items-center gap-2 grow w-full">
        <%= f.select :muscle_group_id,
              MuscleGroup.all.map { |muscle_group| [muscle_group.name, muscle_group.id] },
              { include_blank: t("admin.exercises.search.placeholder") },
              { class: "bg-transparent outline-none w-full" } %>
      </label>


      <%= f.hidden_field :training_session_id, value: training_session.id %>

      <%= f.submit t("admin.exercises.search.submit_button"), class: "btn btn-accent btn-outline whitespace-nowrap w-full mt-2 mb-5" %>
    <% end %>

    <turbo-frame id='exercises_list' src="<%= training_session_forms_exercises_path(training_session_id: training_session.id) %>">
    </turbo-frame>
  </div>
</dialog>

