<dialog id="exercises_modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box relative">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        <i class="fa-solid fa-xmark text-xl"></i>
      </button>
    </form>

    <h3 class="font-bold text-lg mb-4">
      <%= t("training_sessions.training_session_exercises.new.title") %>
    </h3>

    <%= form_with(url: training_session_forms_exercises_path, method: :get, html: {data: {controller: 'auto-submit'}, class: "mb-4"}) do |f| %>
      <label class="input input-bordered flex items-center gap-2 grow w-full mb-2">
        <i class="fas fa-search"></i>
        <%= f.text_field :q,
            placeholder: t("admin.exercises.search.placeholder"),
            data: {'auto-submit-target': 'input'},
            class: "bg-transparent outline-none w-full" %>
      </label>

      <%= radio_button_tag :muscle_group_id, "",
              id: "all",
              class: "btn btn-sm",
              aria: { label: 'All' },
              data: { auto_submit_target: 'input' } %>

      <%= %>

       <% MuscleGroup.order(:name).each do |muscle_group| %>
          <%= radio_button_tag :muscle_group_id, muscle_group.id,
              id: "muscle_group_#{muscle_group.id}",
              class: "btn btn-sm",
              aria: { label: muscle_group.name.capitalize },
              data: { auto_submit_target: 'input' } %>
        <% end %>

      <div class="tabs tabs-border w-full join">
        <%= radio_button_tag :scope, "",
              true,
              class: "tab join-item flex-1",
              aria: { label: 'All' },
              data: { auto_submit_target: 'input' } %>
        <%= radio_button_tag :scope, "verified",
              class: "tab join-item flex-1",
              aria: { label: 'Verified exercises' },
              data: { auto_submit_target: 'input' } %>
        <%= radio_button_tag :scope, "current_user",
              class: "tab join-item flex-1",
              aria: { label: 'My exercises' },
              data: { auto_submit_target: 'input' } %>
      </div>



      <%= f.hidden_field :training_session_id, value: training_session.id %>
    <% end %>

    <turbo-frame id='exercises_list' src="<%= training_session_forms_exercises_path(training_session_id: training_session.id) %>">
    </turbo-frame>
  </div>
</dialog>

