<%= search_form_for q, url: admin_exercises_path, method: :get, html: { class: "w-full max-w-4xl mb-6 mx-auto" } do |f| %>
  <div class="overflow-x-auto flex items-center gap-2 w-full">

    <label class="input input-bordered flex items-center gap-2 grow">
      <i class="fas fa-search"></i>
      <%= f.search_field :title_cont,
            placeholder: t("admin.exercises.search.placeholder"),
            class: "bg-transparent outline-none w-full" %>
    </label>

    <div class="flex items-center gap-2 grow">
      <i class="fas fa-filter"></i>
      <%= f.select :muscle_group_name_eq, MuscleGroup.order(:name).pluck(:name).map { |n| [n.capitalize, n] }, { include_blank: t("admin.exercises.search.all_muscle_groups") },
          class: "select select-bordered w-full" %>
    </div>

    <div class="flex items-center gap-2 grow">
      <i class="fas fa-dumbbell"></i>
      <%= f.select :primary_muscle_name_eq, Muscle.order(:name).pluck(:name).map { |n| [n.capitalize, n] }, { include_blank: t("admin.exercises.search.all_muscles") },
          class: "select select-bordered w-full" %>
    </div>

    <%= f.submit t("admin.exercises.search.submit_button"), class: "btn btn-accent btn-outline whitespace-nowrap" %>

  </div>
<% end %>
