<%= f.fields_for :training_session_exercises, training_session_exercise do |training_session_exercise_fields| %>

  <div class="exercise-item bg-base p-4 rounded-xl mb-3 outline outline-1 outline-gray-300 dark:outline-gray-700">

    <div class="flex justify-between items-center mb-4">
      <p class="font-semibold text-lg">
        <%= training_session_exercise.exercise.title %>
      </p>

      <%= link_to training_session_training_session_exercise_path(id: training_session_exercise.id, training_session_id: training_session_id),
            data: { turbo_frame: 'main', turbo_method: :delete },
            class: "opacity-60 hover:opacity-100" do %>
        <i class="fa-solid fa-trash text-lg"></i>
      <% end %>
    </div>

    <%= training_session_exercise_fields.hidden_field :exercise_id %>

    <%= turbo_frame_tag "exercise_sets_#{training_session_exercise.id}" do %>
      <div class="sets-container">
        <%= render "training_session_forms/set_fields", f: training_session_exercise_fields , training_session_id: training_session_id, training_session_exercise_id: training_session_exercise.id %>
      </div>
    <% end %>

  </div>

<% end %>
